<div class="cards-container">

  <mat-card class="crd mat-elevation-z8">
    <mat-card-subtitle>Туберкулез</mat-card-subtitle>

    <mat-card-content>

      <div class="buttons-container-incard">

        <div class="buttn wide">
          <app-audiobtn caption="Туберкулёз немножко мучает" audioUrl="/assets/mp3/19.tuberkulyoz.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Кашель длинный" audioUrl="/assets/mp3/27.kauf.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Туберкулёз, сцуко" audioUrl="/assets/mp3/09.tuberkulez.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Кашель короткий" audioUrl="/assets/mp3/26.kauf.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Мне тяжело разговаривать" audioUrl="/assets/mp3/28.tyazhelo-razgovarivat.mp3 "></app-audiobtn>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="crd mat-elevation-z8">
    <mat-card-subtitle>Приветствие</mat-card-subtitle>

    <mat-card-content>

      <div class="buttons-container-incard">

        <div class="buttn btn">
          <app-audiobtn caption="Добрый вечер" audioUrl="/assets/mp3/01.dobry-vecher.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Сева Восточный меня величать" audioUrl="/assets/mp3/05.seva-vostochny-ya.mp3"></app-audiobtn>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="crd mat-elevation-z8">
    <mat-card-subtitle>Вопросы</mat-card-subtitle>

    <mat-card-content>

      <div class="buttons-container-incard">

        <div class="buttn btn">
          <app-audiobtn caption="Есть минутка поинтересоваться?" audioUrl="/assets/mp3/07.est-minutka-pointeresovatsya.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Работа есть там?" audioUrl="/assets/mp3/02.rabota-est-tam.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="На автомобиль есть работа?" audioUrl="/assets/mp3/03.na-avtomobil-est-rabota-ya-tebya-sprashivaju.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ты объявление давал, не?" audioUrl="/assets/mp3/04.ty-obyavlenije-daval-ne.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ты дурачка решил включить?" audioUrl="/assets/mp3/14.ty-durachka-uvidel.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ты не проснулся еще?" audioUrl="/assets/mp3/06.ty-ne-prosnulsya-eshe.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Завтра подьехать куда?" audioUrl="/assets/mp3/08.zavtra-kuda-podyehat.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Мы с тобой будем общаться?" audioUrl="/assets/mp3/11.my-budem-obshatsya.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ты не слышишь мне тяжело?" audioUrl="/assets/mp3/20.razgovarivat-tyazhelo.mp3"></app-audiobtn>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="crd mat-elevation-z8">
    <mat-card-subtitle>Алёкание</mat-card-subtitle>

    <mat-card-content>

      <div class="buttons-container-incard">

        <div class="buttn btn">
          <app-audiobtn caption="Аллё - туберкулезное" audioUrl="/assets/mp3/10.allo.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Алло - наркоманское" audioUrl="/assets/mp3/21.allo.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Алло - тюбиковское" audioUrl="/assets/mp3/22.allo.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Аллё - быстрое" audioUrl="/assets/mp3/23.allo.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Аллё" audioUrl="/assets/mp3/25.allo.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Аллё" audioUrl="/assets/mp3/30.allo.mp3"></app-audiobtn>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="crd mat-elevation-z8">
    <mat-card-subtitle>Реплики</mat-card-subtitle>

    <mat-card-content>

      <div class="buttons-container-incard">

        <div class="buttn btn">
          <app-audiobtn caption="Куда подьехать говори" audioUrl="/assets/mp3/12.kuda-podehat-govori.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Права пацаны напечатали" audioUrl="/assets/mp3/13.prava-napechatali.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Пацаны отблагодарят" audioUrl="/assets/mp3/29.pacany-otblagodaryat.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ну я же по-человечески подошел" audioUrl="/assets/mp3/16.po-chelovecheski.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ты меня не зли!" audioUrl="/assets/mp3/18.ty-menya-ne-zli.mp3"></app-audiobtn>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="crd mat-elevation-z8">
    <mat-card-subtitle>Оскорбления</mat-card-subtitle>

    <mat-card-content>

      <div class="buttons-container-incard">

        <div class="buttn btn">
          <app-audiobtn caption="Дура беструсая!" audioUrl="/assets/mp3/15.dura-bestrusaya.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ты дятел!" audioUrl="/assets/mp3/17.ty-dyatel.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Ты дебил!" audioUrl="/assets/mp3/24.telefon-bez-opredelitelya.mp3"></app-audiobtn>
        </div>

        <div class="buttn btn">
          <app-audiobtn caption="Нах@ пошел!" audioUrl="/assets/mp3/31-nahui-poshel.mp3"></app-audiobtn>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

</div>
