<div id="splash" [style.display]="isSplashShown ? 'none' : 'flex' ">
  <div id="splash-content">
    <div class="splash-polaroid-frame mat-elevation-z8">
      <img class="splash-polaroid-image" src="/assets/img/splash/splash.png" />
      <div class="splash-polaroid-bottom">
        <div class="splash-polaroid-bottom-text">Дорогому Андрею Сергеевичу<br/>от Олега Басюка</div>
      </div>
    </div>
  </div>
</div>

<div id="root-container" [style.display]="isSplashShown ? 'block' : 'none' ">

  <mat-toolbar color="primary" class="toolbar mat-elevation-z8">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>flutter_dash</mat-icon>
      </button>
      <span>Сева Восточный и туберкулез</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content-container">
    <app-audiopage></app-audiopage>
  </div>

</div>
