.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--app-zindex-toolbar);
  display: flex;
  flex-direction: row;
}

.content-container {
  min-height: calc(100% - var(--aloz-footer-height));
  padding: var(--app-gap);
  padding-top: calc(var(--app-toolbar-height) + var(--app-gap));
}
