<h2 mat-dialog-title>Ответы на вопросы:</h2>
<mat-dialog-content class="mat-typography">
  <h3>А это что?</h3>
  <p class="text-align-justify">
    Захотелось мне как-то Уткина нарезать на фразы. И сделать небольшое приложение, чтобы их воспроизводить, нажимая на кнопки.
    Что я собственно и сделал. Заодно дополнительно прокачал свои скиллы в Angular, Angular Material и TypeScript.
    Сделано это как PWA (Progressive Web Application) соответственно может работать в оффлайне, и может быть установлено как обычное приложение
    на телефон, или в компьютер (браузер подскажет)
  </p>

  <h3>А зачем это нужно?</h3>
  <p class="text-align-justify">
    Технопранк - пранковать по телефону заранее нарезанными фразами.
  </p>

  <h3>А за это может прилететь?</h3>
  <p class="text-align-justify">
    За это могут дать в голову!
  </p>

  <h3>А кто такой Сева Восточный?</h3>
  <p class="text-align-justify">
    Один из персонажей Уткина. Его можно найти <a href="https://www.youtube.com/c/%D0%A3%D1%82%D0%BA%D0%B8%D0%BD%D0%A2%D0%92" target="_blank">тут</a>
    А Диму Назаренко можно найти <a href="https://www.youtube.com/channel/UCV8IhojXl8JYg1YvrrLWQdw" target="_blank">тут</a>
  </p>

  <h3>А почему нет левого всплывающего меню и табов внизу?</h3>
  <p class="text-align-justify">
    А оно тут вообще не клеится!
    The quick brown fox jumps over the lazy dog.
    Съешь ещё этих мягких французских булок, да выпей же чаю.
    Широкая электрификация южных губерний даст мощный толчок подъёму сельского хозяйства.
  </p>

  <h3>А есть этот код на Github?</h3>
  <p class="text-align-justify">TODO</p>

  <p class="text-align-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <h3>What is Angular?</h3>
  <p class="text-align-justify">
    Angular is a platform that makes it easy to build applications with the web. Angular
    combines declarative templates, dependency injection, end to end tooling, and integrated
    best practices to solve development challenges. Angular empowers developers to build
    applications that live on the web, mobile, or the desktop
  </p>

  <h3>Architecture overview</h3>
  <p class="text-align-justify">
    Angular is a platform and framework for building client applications in HTML and TypeScript.
    Angular is itself written in TypeScript. It implements core and optional functionality as a
    set of TypeScript libraries that you import into your apps.

    The basic building blocks of an Angular application are NgModules, which provide a compilation
    context for components. NgModules collect related code into functional sets; an Angular app is
    defined by a set of NgModules. An app always has at least a root module that enables
    bootstrapping, and typically has many more feature modules.

    Components define views, which are sets of screen elements that Angular can choose among and
    modify according to your program logic and data. Every app has at least a root component.

    Components use services, which provide specific functionality not directly related to views.
    Service providers can be injected into components as dependencies, making your code modular,
    reusable, and efficient.

    Both components and services are simply classes, with decorators that mark their type and
    provide metadata that tells Angular how to use them.

    The metadata for a component class associates it with a template that defines a view. A
    template combines ordinary HTML with Angular directives and binding markup that allow Angular
    to modify the HTML before rendering it for display.

    The metadata for a service class provides the information Angular needs to make it available
    to components through Dependency Injection (DI).

    An app's components typically define many views, arranged hierarchically. Angular provides
    the Router service to help you define navigation paths among views. The router provides
    sophisticated in-browser navigational capabilities.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Тыкать тут</button>
</mat-dialog-actions>
