.btn {
  width: 100%;
  padding: calc(var(--app-gap) / 4);
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.btn-play-icon {
  position: absolute;
  top: 9px;
  left: 7px;
}

.btn-caption {
  font-size: x-small;
  flex-grow: 1;
  margin-left: var(--app-gap);
  text-align: left;
}
