* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --app-gap: 16px;
  --app-toolbar-height: 64px;
  --app-zindex-toolbar: 65535;
}

#root-container {
  min-width: 255px;
}
