* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --app-gap: 16px;
  --app-toolbar-height: 64px;
  /* 1000 is the last to show MatDialog correctly */
  --app-zindex-toolbar: 900;
}

#root-container {
  min-width: 255px;
}

.text-align-justify {
  text-align: justify;
}
